// @import 'compass';
@import 'modules/breakpoints';

* {
	margin: 0;
	padding: 0;
}

.wrap {
	font-family: 'Open Sans', Tahoma;
	margin: 0 auto;
	width: 300px;

	@include mq($from: mobile, $to: desktop) {
		width: 92%;
	}

	@include mq($from: desktop) {
		max-width: 1200px;
		width: 92%;
	} 
}

.header {
	color: #2b414d;
	display: -moz-flex;
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	flex-wrap: nowrap;
	font-size: 30px;
	font-weight: 700;
	height: 100px;
	justify-content: space-between;
	margin-top: 40px;
	text-transform: uppercase;


	.logo-text {
		margin: 36px 0 0 20px;
	}

	.vertical-bar-box {
		flex-grow: 3;
		height: inherit;

		.vertical-bar {
			background-color: lighten(gray, 30%);
			display: inline-flex;
			height: 22px;
			margin: 48px 20px 0;
			width: 2px;
		}

		.slogan-box {
			color: lighten(gray, 30%);
			display: inline-block;
		}

		.slogan {
			font-size: 10px;
			text-transform: uppercase;
		}
	}

	.socialmedia-icons-box {
		display: inherit;
		height: inherit;

		.socialmedia-icon {
			height: inherit;
			margin-top: 41px;
		}

		.margin-right {
			margin-right: 15px;
		}
	}
}

.horizontal-line {
	background-color: lighten(gray, 40%);
	border: 0;
	height: 2px;
	margin: 40px 0;
}

.body {
	width: inherit;

	.welcome {
		color: #2b414d;
		margin: 0 auto 40px;
		text-align: center;
		width: 600px;

		h1 {
			font-size: 40px;
		}

		h3 {
			font-weight: 100;
		}
	}

	.main-picture {
		margin: 0 auto;
		width: 960px;
	}
}

