$blue: #5facec;
$tag-blue: #4290d0;
$default-dark: rgb(14, 19, 23);
$default-darkgray: #46464a;
$default-lightgray: #e2e2e2;
$default-lightgreen: #dff0d8;
$green: #53d892;
$red: rgb(255, 90, 90);
$yellow: #e8e798;
